// -*- eval: (outshine-mode); -*-
// * Colors

:root {
  color-scheme: light dark; /* both supported */
}

$font-stack: "Helvetica Neue", Helvetica, sans-serif;

$attochem-purple: #c10067;
$attochem-grey: #4c4c4c;

body {
  --text-color: #3c3836;
  --bkg-color: ivory;
  --other-bkg-color: antiquewhite;
  --border-color: #7c6f64;

  --link-color: #c10067;
  --active-link-color: ivory;
  --active-link-bg-color: #c10067;

  --shadow-color: rgba(0,0,0,.11);
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --text-color: antiquewhite;
        --bkg-color: #2a2b2c;
        --other-bkg-color: #1a1b1c;
        --border-color: antiquewhite;

        --link-color: #c10067;
        --active-link-color: antiquewhite;
        --active-link-bg-color: #c10067;

        --shadow-color: rgba(255,255,255,.61);
    }
}

a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: underline;
}

// * Main structure

body {
    font: 100% $font-stack;
    color: var(--text-color);
    background: var(--bkg-color);
    margin: 0;
    padding: 0;
}

container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// ** Header

header {
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;

    background: var(--other-bkg-color);
    border-bottom: solid 1px var(--border-color);
    box-shadow: 0 0.125rem 0.25rem 0 var(--shadow-color);

    .header-text{
        display: inline-block;
        vertical-align: top;
        margin-left: 1em;
        padding-top: 1em;
        h1, h2 {
            margin: 0;
        }
        h1 {
            color: $attochem-grey;
        }
        h2 {
            color: $attochem-purple;
        }
    }

    .header-logo {
        height: 6em;
    }
}

menu {
    padding: 0;
    ul {
        list-style-type: none;
        overflow: hidden;
        li {
            float: left;
            a {
                display: block;
                margin: 1px;
                margin-right: 1em;
                padding: 0.2em;
                text-decoration: none;
            }
            a.active {
                color: var(--active-link-color);
                background: var(--active-link-bg-color);
            }
            a:hover {
            }
        }
    }
}

// ** Main

main {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 5em;

    section {
        img {
            max-width: 100%;
        }
    }
}

// ** Footer

footer {
    margin-top: auto;
    padding-top: 1em;

    background: var(--other-bkg-color);
    border-top: solid 1px var(--border-color);

    box-shadow: 0.25rem 0 0.125rem 0.125rem var(--shadow-color);

    display: flex;

    div#eu-boilerplate {
        padding-bottom: 2em;
        padding-left: 2em;
        padding-right: 2em;
    }
    div#prater {
        margin-top: auto;
        img {
            height: 15em;
        }
    }

    .footer-logo {
        height: 5em;
    }
}
// * Programme

#programme {
    .topic {
        border: solid 1px var(--border-color);
        margin-bottom: 1em;
        padding: 1em;

        box-shadow: 0 0.125rem 0.25rem 0 var(--shadow-color);

        p {
            margin: 0;
            margin-bottom: 1em;
        }
    }
    .topic:hover {
        box-shadow: 0 0.125rem 0.25rem 0 #c10067;
    }

    .topic-details {
        h3 {
            margin: 0;
            margin-bottom: 1em;
        }
        .talk-title {
            font-style: italic;
        }
        .talk-speaker {
        }
    }
}

.talk-page {

    .speaker-affiliations {
        p {
            margin: 0;
        }
    }
}

// * Registration

iframe#registration {
    width: 100%;
    min-height: 120em;
}

// * Organizers

#organizer-list {
    display: flex;
    flex-flow: row wrap;
}

.organizer {
    padding-bottom: 0.25em;
    display: flex;
}

.organizer-details {
    max-width: 20em;
    vertical-align: top;
    margin-top: 0.5em;
    margin-left: 1em;

    p {
        margin: 0;
    }

    .organizer-affiliations {
        margin-bottom: 1em;
    }
}

.organizer-portrait {
    width: 10em;
    min-width: 10em;
    vertical-align: top;
    img {
        width: 10em;
    }
}
