{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>AttoChem Young Scientist Symposium 2023{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <container>
      <header>
        <img src="/logos/attochem-cropped.png" class="header-logo" />
        <div class="header-text">
          <h1>AttoChem Young Scientist Symposium 2023</h1>
          <h2>Vienna, September 13th–15th</h2>
        </div>

        <menu>
          <ul>
            <li><a href="/" {% if current_path == "/" %}class="active"{% endif %}>
                Home
            </a></li>
            {{ macros::menu_button(name="Programme", url="/programme") }}
            {{ macros::menu_button(name="Venue", url="/venue") }}
            {{ macros::menu_button(name="Travel & Accommodation", url="/travel-accommodation") }}
            {{ macros::menu_button(name="Invited speakers", url="/invited-speakers") }}
            {{ macros::menu_button(name="Registration", url="/registration") }}
            {{ macros::menu_button(name="Organizers", url="/organizers") }}
            {{ macros::menu_button(name="Links", url="/links") }}
          </ul>
        </menu>
      </header>
      <main>
        <section class="section">
          <div class="container">
            {% block content %} {% endblock %}
          </div>
        </section>
      </main>
      <footer>
        <div>
          <p>
            {{ macros::img_light_dark(light="/logos/COST_LOGO_darkgrey_transparentbackground.png",
            dark="/logos/COST_LOGO_white_transparentbackground.png",
            class="footer-logo") }}
            {{ macros::img_light_dark(light="/logos/eu-black.png",
            dark="/logos/eu-white.png",
            class="footer-logo") }}
          </p>
          <p>
            This event is co-organised by COST Action CA18222, supported
            by COST (European Cooperation in Science and Technology).
            COST (European Cooperation in Science and Technology) is a
            funding agency for research and innovation networks. Our
            Actions help connect research initiatives across Europe and
            enable scientists to grow their ideas by sharing them with
            their peers. This boosts their research, career and
            innovation. <a href="https://www.cost.eu/">https://www.cost.eu/</a>
          </p>
        </div>
        <div>
          Contact: <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>
        </div>
      </footer>
    </container>
  </body>
</html>
