{% extends "section-base.html" %}

{% block section_content %}
{% set all_organizers = section.pages | sort(attribute="extra.name") %}
{% set main_organizers = all_organizers | filter(attribute="extra.order", value=0) %}
{% set rest_organizers = all_organizers | filter(attribute="extra.order", value=1) %}
{% set organizers = main_organizers | concat(with=rest_organizers) %}
<div id="organizer-list">
  {% for organizer in organizers %}
  <div class="organizer">
    <div class="organizer-portrait">
      
      <img src="/portraits/{% if organizer.extra.portrait %}{{ organizer.extra.portrait }}{% else %}scream.jpg{% endif %}" />
    </div>
    <div class="organizer-details">
      <p><b>{{ organizer.extra.name }}</b></p>
      <p>{{ organizer.content | safe }}</p>
      {% if organizer.extra.affiliation %}
      <div class="organizer-affiliations">
        {% set affils = organizer.extra.affiliation %}
        {% if affils is string %}
        {% set affils = [affils] %}
        {% endif %}
        {% for affil in affils %}
        <p>{{ affil }}</p>
        {% endfor %}
      </div>
      {% endif %}
      <p>
        {% set emails = organizer.extra.email %}
        {% if emails is string %}
        {% set emails = [emails] %}
        {% endif %}
        {% for email in emails %}
        <a href="mailto:{{ email }}">{{ email }}</a>
        {% endfor %}
      </p>
      {% if organizer.extra.homepage %}
      <a href="{{ organizer.extra.homepage }}">{{ organizer.extra.homepage }}</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock section_content %}
