{% extends "base.html" %}

{% block title %} – Home{% endblock title %}

{% block content %}
<iframe id="registration"
        src="{{ config.extra.registration_form_iframe }}"
        frameborder="0" marginheight="0" marginwidth="0">
  If the registration form does not load, please
  visit <a href="{{ config.extra.registration_form_link }}">{{ config.extra.registration_form_link }}</a>.

  Abstract submission: send a one-page PDF to <a href="mailto:{{ abstract_email }}?subject=%5BAbstract%20submission%5D">
    {{ abstract_email }}
  </a>
</iframe>
{% endblock content %}
