{% extends "base.html" %}

{% block title %} – Home{% endblock title %}

{% block content %}
<iframe id="registration"
        src="https://docs.google.com/forms/d/e/1FAIpQLSc6Lb_Hd1Y2tftnD3G72iKaT_39yOcRVfFqHowOZoMSdN0aGA/viewform?embedded=true"
        frameborder="0" marginheight="0" marginwidth="0">
  If the registration form does not load, please
  visit <a href="https://forms.gle/abNs3Dfr6mCpS2nf8">https://forms.gle/abNs3Dfr6mCpS2nf8</a>.

  Abstract submission: send a one-page PDF to <a href="mailto:attoyss2023+abstracts@gmail.com?subject=%5BAbstract%20submission%5D">attoyss2023+abstracts@gmail.com</a>
</iframe>
{% endblock content %}
