{% extends "page.html" %}

{% block page_content %}
<div class="talk-page">
  <h1 class="talk-title">
    {{ page.title }}
  </h1>
  <h3 class="speaker">
    {{ page.extra.speaker }}
  </h3>
  {% if page.extra.affiliation %}
  <div class="speaker-affiliations">
    {% set affils = page.extra.affiliation %}
    {% if affils is string %}
    {% set affils = [affils] %}
    {% endif %}
    {% for affil in affils %}
    <p>{{ affil }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="talk-abstract">
    {{ page.content | safe }}

    {% set talk_name = page.components | last %}
    {% set image_path = "programme/talks/"~talk_name~".png" %}
    {% set image_meta = get_image_metadata(path=image_path, allow_missing=true) %}
    {% if image_meta %}
    <br/>
    <a href={{ get_url(path="programme/talks/"~talk_name~".pdf") }}>
      <img class="abstract" src={{ get_url(path=image_path) }} alt="{{ "Click here to download the abstract for the talk of " ~ page.extra.speaker ~ " as a PDF" }}" />
    </a>
    {% endif %}
  </div>
</div>
{% endblock page_content %}
